import numpy as np
import torch
from dpipe.train.policy import Schedule
from dpipe.torch.functional import dice_loss_with_logits
from dpipe.predict import add_extract_dims, divisible_shape
from dpipe.torch import inference_step
from dpipe.predict.shape import patches_grid

from ufroc.torch.module.unet_3d import UNet
from ufroc.batch_iter import SPATIAL_DIMS


# loss
criterion = dice_loss_with_logits

# model
# split_seed = 0xBadCafe
# seed = split_seed + 0
x_patch_size = y_patch_size = np.array([64, ] * 3)

task_ndim = 3
n_filters = 16
norm_module = 'bn'
init_bias = -3
architecture = UNet(ndim=task_ndim, n_chans_in=n_chans_in, n_chans_out=n_chans_out, n_filters_init=n_filters,
                    norm_module=norm_module, patch_size=x_patch_size, init_bias=init_bias)
batch_size = 20

# optimizer
amp = False
batches_per_epoch = 100
n_epochs = 100
lr_init = 1e-3
lr = Schedule(initial=lr_init, epoch2value_multiplier={80: 0.1, })
weight_decay = 1e-4
optimizer = torch.optim.SGD(architecture.parameters(), lr=lr_init, momentum=0.9, nesterov=True,
                            weight_decay=weight_decay)

# predict
pred_patch_size = x_patch_size
pred_patch_stride = pred_patch_size // 2


@add_extract_dims(2)  # 3D -> (5D -> predict -> 5D) -> 3D
@patches_grid(pred_patch_size, pred_patch_stride, axis=SPATIAL_DIMS)  # image -> iter{patches} -> average
@divisible_shape(divisor=[16, ] * 3, padding_values=np.min, axis=SPATIAL_DIMS)
def predict(image):
    return inference_step(image, architecture=architecture, activation=torch.sigmoid, amp=amp)


@add_extract_dims(2)  # 3D -> (5D -> predict -> 5D) -> 3D
@patches_grid(pred_patch_size, pred_patch_stride, axis=SPATIAL_DIMS)  # image -> iter{patches} -> average
@divisible_shape(divisor=[16, ] * 3, padding_values=np.min, axis=SPATIAL_DIMS)
def predict_logit(image):
    return inference_step(image, architecture=architecture, amp=amp)
