from functools import partial

import numpy as np
from dpipe.batch_iter import Infinite, load_by_random_id, multiply, combine_pad
from dpipe.im.utils import prepend_dims

from ufroc.batch_iter.pipeline import get_random_patch_of_slices, center_crop


# batch iter:
random_state = np.random.RandomState(seed)
weights = n_tumors / np.sum(n_tumors)

batch_iter = Infinite(
    load_by_random_id(load_x, load_y, ids=train_ids, weights=weights, random_state=seed),
    partial(get_random_patch_of_slices, z_patch_size=z_patch_size, random_state=random_state),
    center_crop,
    multiply(func=prepend_dims),
    batch_size=batch_size, batches_per_epoch=batches_per_epoch, buffer_size=1,
    combiner=partial(combine_pad, padding_values=[0, 0]),
)
